In [3]:
import itertools as it

In [17]:
pop_size_lvl = [20, 10, 40, 80, 160]
b_ratio_lvl  = [3, 0.5, 1, 2, 5]

paring = list(it.product(pop_size_lvl, 
                          b_ratio_lvl
                         )
              )

paring

[(20, 3),
 (20, 0.5),
 (20, 1),
 (20, 2),
 (20, 5),
 (10, 3),
 (10, 0.5),
 (10, 1),
 (10, 2),
 (10, 5),
 (40, 3),
 (40, 0.5),
 (40, 1),
 (40, 2),
 (40, 5),
 (80, 3),
 (80, 0.5),
 (80, 1),
 (80, 2),
 (80, 5),
 (160, 3),
 (160, 0.5),
 (160, 1),
 (160, 2),
 (160, 5)]

In [19]:
a = list(range(vvghfc))

(x,y) = paring[-1]
sequence = [x + x*y*num for num in a]

intersect = set(sequence)

for (x,y) in paring:
    print(len(intersect))
    sequence = [x + x*y*num for num in a]
    intersect = intersect & set(sequence)

100000
2500
416
416
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [1]:
import pandas as pd


df1 = pd.DataFrame({'depth': [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1 ],
            '350': [7.898167, 6.912074, 6.049002, 5.000357, 4.072320, 3.070662, 2.560458, 2.218879, 1.892131, 1.588389, 1.573693],
            '351': [8.094912, 7.090584, 6.221289, 5.154516, 4.211746, 3.217615, 2.670147, 2.305846, 1.952723, 1.641423, 1.622722],
            '352': [8.291657, 7.269095, 6.393576, 5.308674, 4.351173, 3.364569, 2.779837, 2.392813, 2.013316, 1.694456, 1.671752],
            '353': [8.421007, 7.374317, 6.496641, 5.403691, 4.439815, 3.412494, 2.840625, 2.443868, 2.069017, 1.748445, 1.718081 ],
            '354': [8.535562, 7.463452, 6.584512, 5.485725, 4.517310, 3.438680, 2.890678, 2.487039, 2.123644, 1.802643, 1.763818 ],
            '355': [8.650118, 7.552586, 6.672383, 4.517310, 4.594806, 3.464867, 2.940732, 2.530211, 2.178271, 1.856841, 1.809555 ]},
            index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
             )

In [2]:
df1

    depth       350       351       352       353       354       355
1     1.1  7.898167  8.094912  8.291657  8.421007  8.535562  8.650118
2     1.2  6.912074  7.090584  7.269095  7.374317  7.463452  7.552586
3     1.3  6.049002  6.221289  6.393576  6.496641  6.584512  6.672383
4     1.4  5.000357  5.154516  5.308674  5.403691  5.485725  4.517310
5     1.5  4.072320  4.211746  4.351173  4.439815  4.517310  4.594806
6     1.6  3.070662  3.217615  3.364569  3.412494  3.438680  3.464867
7     1.7  2.560458  2.670147  2.779837  2.840625  2.890678  2.940732
8     1.8  2.218879  2.305846  2.392813  2.443868  2.487039  2.530211
9     1.9  1.892131  1.952723  2.013316  2.069017  2.123644  2.178271
10    2.0  1.588389  1.641423  1.694456  1.748445  1.802643  1.856841
11    2.1  1.573693  1.622722  1.671752  1.718081  1.763818  1.809555

In [88]:
import pandas as pd
import numpy as np

columns = ['FactorA', 'FactorB', 'step']
data = [['A1', 'B1', 8], ['A1', 'B1', 13], ['A1', 'B1', 18], ['A1', 'B1', 23], ['A1', 'B1', 28], ['A1', 'B1', 33], ['A1', 'B1', 38],
        ['A1', 'B2', 7], ['A1', 'B2', 13],['A1', 'B2', 19],['A1', 'B2', 25],['A1', 'B2', 31],['A1', 'B2', 37],
        ['A2', 'B1', 6], ['A2', 'B1', 14],['A2', 'B1', 22],['A2', 'B1', 30],['A2', 'B1', 38],
        ['A2', 'B2', 10], ['A2', 'B2', 12],['A2', 'B2', 14],['A2', 'B2', 16],['A2', 'B2', 18],['A2', 'B2', 20],['A2', 'B2', 22],['A2', 'B2', 24],['A2', 'B2', 26],['A2', 'B2', 28],['A2', 'B2', 30],['A2', 'B2', 32],['A2', 'B2', 34],['A2', 'B2', 36]
       ]
df = pd.DataFrame(data, columns=columns)
df['eval'] = np.random.randint(1, 6, df.shape[0])

In [89]:
grouped = df.groupby(['FactorA','FactorB'])
grouped.size()

FactorA  FactorB
A1       B1          7
         B2          6
A2       B1          5
         B2         14
dtype: int64

In [90]:
def filter_group(dfg, col, qty):
    col_min = dfg[col].min()
    col_max = dfg[col].max()
    col_length = dfg[col].size
    jumps = col_length-1
    jump_size = int((col_max - col_min) / jumps)
    new_jump_size =  jumps/qty
    if new_jump_size > 1:
        new_jump_size = int(new_jump_size)*jump_size
    else:
        new_jump_size = jump_size
    
    col_select = list(range(col_min, col_max, new_jump_size))
    col_select.append(col_max)
    
    return dfg[dfg[col].isin(col_select)]

FactorA  FactorB
A1       B1          7
         B2          6
A2       B1          5
         B2         14
dtype: int64

In [91]:
grouped = df.groupby(['FactorA','FactorB'], group_keys=False).apply(lambda x: filter_group(x,'step',3))
grouped = grouped.groupby(['FactorA','FactorB'])
grouped.size()

FactorA  FactorB
A1       B1         4
         B2         6
A2       B1         5
         B2         5
dtype: int64

In [86]:
grouped = df.groupby(['FactorA','FactorB'], group_keys=False).apply(lambda x: filter_group(x,'step',3))
grouped

   FactorA FactorB  step  eval
0       A1      B1     8     4
2       A1      B1    18     4
4       A1      B1    28     5
6       A1      B1    38     1
7       A1      B2     7     5
8       A1      B2    13     1
9       A1      B2    19     1
10      A1      B2    25     1
11      A1      B2    31     4
12      A1      B2    37     1
13      A2      B1     6     2
14      A2      B1    14     2
15      A2      B1    22     1
16      A2      B1    30     2
17      A2      B1    38     4
18      A2      B2    10     1
22      A2      B2    18     2
26      A2      B2    26     1
30      A2      B2    34     2
31      A2      B2    36     1

In [83]:
a = list(range(7,50,8))
a.append(50)
a

[7, 15, 23, 31, 39, 47, 50]

In [10]:
from itertools import product
import pandas as pd
import numpy as np

df = pd.DataFrame({'group1': [1, 1, 1, 2, 2, 3],
                       'group2': [13, 18, 20, 77, 109, 123],
                       'value1': [1.1, 2, 3, 4, 5, 6],
                       'value2': [7.1, 8, 9, 10, 11, 12]
                       })
df = df.set_index(['group1', 'group2'])

print (df)

               value1  value2
group1 group2
1      13         1.1     7.1
       18         2.0     8.0
       20         3.0     9.0
2      77         4.0    10.0
       109        5.0    11.0
3      123        6.0    12.0

In [13]:
df.unstack().sample(3, replace=True).stack()

               value1  value2
group1 group2
3      123        6.0    12.0
1      13         1.1     7.1
       18         2.0     8.0
       20         3.0     9.0
3      123        6.0    12.0

In [ ]:
def filter_group(dfg, col):
    return dfg[dfg[col] == dfg[col].min()]

df = pd.DataFrame({'g': ['a'] * 6 + ['b'] * 6, 'v1': (list(range(3)) + list(range(3))) * 2, 'v2': range(12)})
df.groupby('g',group_keys=False).apply(lambda x: filter_group(x,'v1'))